{{- range $index, $name := .Values.names }}
apiVersion: reliantrobin.org/v1
kind: Bucket 
metadata:
  name: "{{ if $.Values.prefix }}{{ $.Values.prefix }}-{{- end }}s3-{{ $name }}{{ if $.Values.suffix }}-{{ $.Values.suffix }}{{- end }}"
  {{ if $.Values.syncwave }}
  annotations:
    argocd.argoproj.io/sync-wave: "{{ $.Values.syncwave }}"
  {{- end}}
spec:
  name: "{{ $name }}"
  prefix: "{{ $.Values.prefix }}"
  suffix: "{{ $.Values.suffix }}"
---
{{- end }}